//
   Created by jaric on 10.08.2014.

extends layout
block headData
    title About authors of Numbers game
    meta(name="Description" content="about page is here")
    link(rel='image_src', href='/dice_Visual_Pharm.png')

block content

    p
        div(class="menuElement menuPad")
            a(href="/") Menu

    p Hi, I'm Jaric, the author of this app, nice to meet you! Thank you so much for being here. I hope you enjoy it!
    p
    p Windows Phone app by Andrey is comming soon.
    p
    p Feel free to contact me at mm1000@list.ru
    p
        | &nbsp;
    p Inspired by Pavel, and Ann, and Elena.

    //- It looks like social buttons work only from real hosts (not localhost)
    script(
        type='text/javascript',
        src='http://yandex.st/share/share.js',
        charset='utf-8')
    div(
        class='yashare-auto-init',
        data-yashareL10n='ru',
        data-yashareType='none',
        data-yashareQuickServices='vkontakte,facebook,twitter,gplus,pinterest',
        data-yashareImage='http://jaric.ru:33322/dice_Visual_Pharm.png'
    )