//
   Created by jaric on 21.09.2014.

html(ng-app='jApp', ng-controller='jController')
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title Settings of Numbers game

        script(src='/javascripts/angular.js')
        script(src='/javascripts/angSettings.js')
        script(src='/javascripts/Localization.js')

        link(rel='stylesheet', ng-href="{{css}}")

    body
        p
            a(href="/", class="menuElement menuPad") {{localization.Menu.menu}}

        p(class='menuElement', style='text-align: left;') {{localization.Settings.name}}
        form(id="nameForm")
            input(
                class='inputView',
                name='nickname',
                placeholder='nickname',
                pattern='.{1,16}',
                required='true',
                title='min 1, max 16',
                ng-model='name',
                ng-submit='setName(name)'
            )
            input(
                class='inputSubmitView',
                type='submit',
                value='[change]',
                ng-click='setName(name)',
                ng-show='nameChanged'
            )

        p
        p(class='menuElement', style='text-align: left;') {{localization.Settings.multiplayer}}
        p(class='menuElement', style='text-align: left;') {{localization.Settings.playerNumbers}}
        table
            tr
                td(ng-repeat='playersCount in [2,3,4]')
                    a(
                        ng-click='setMultiplayerPlayersCount(playersCount)',
                        ng-class='{menuPad: playersCount == multiplayerPlayersCount}'
                    ) {{playersCount}}
        p
        p(class='menuElement', style='text-align: left;') {{localization.Settings.style}}
        table
            tr
                td(ng-repeat="userStyle in validStyles")
                    a(
                        ng-click='setStorageStyle(userStyle)',
                        ng-class='{menuPad: userStyle == storageStyle}'
                    ) {{userStyle}}

        p
            | &nbsp;

        //-p(class='beFixed beBottom beLeft', ng-repeat='lang in Localization.listOfLanguages') &nbsp;{{lang}}&nbsp;
