//
   Created by jaric on 21.09.2014.

extends layout
block headData
    title Configuration of Numbers game

    script(src='/javascripts/angular.js')
    script(src='/javascripts/angConfiguration.js')
block content
    div(ng-app='jApp', ng-controller='jController')
        p
            div(class="menuElement menuPad")
                a(href="/") Menu

        p(class='menuElement', style='text-align: left;') Name:
        div(id="nameForm")
            input(
                class='inputView',
                placeholder='nickname',
                pattern='.{1,16}',
                required='true',
                title='min 1, max 16',
                ng-model='name'
            )
            input(
                class='inputSubmitView',
                type='submit',
                value='[change]',
                ng-click='setName(name)',
                ng-show='nameChanged'
            )

        p
        p(id='currentMultiplayerPlayersCount', class='menuElement', style='text-align: left;') Multiplayer players:
        table
            tr
                td(ng-repeat='playersCount in [2,3,4]')
                    a(
                        ng-click='setMultiplayerPlayersCount(playersCount)',
                        ng-class='{menuPad: playersCount==multiplayerPlayersCount}'
                    ) {{playersCount}}

        p
            | &nbsp;


    //-script.
        /*
        (function($) {
            $.menu.bootstrap();
        })(jQuery);
        $( document ).ready(function() {
            var count = getMultiplayerPlayersCount();
            changeUIElement(count);
        });
        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
        function setMultiplayerPlayersCount(count){
            localStorage.setItem("multiplayerPlayersCount", count.toString());
            changeUIElement(count);
        }
        function getMultiplayerPlayersCount(){
            var defaultCount = '2';
            var localStorage = window.localStorage;
            if (!localStorage) return defaultCount;
            var searchPlayersCount = localStorage.getItem("multiplayerPlayersCount");
            if (isNumber(searchPlayersCount)) {
                //searchPlayersCount = Math.floor(parseFloat(searchPlayersCount));
                return searchPlayersCount;
            } else return defaultCount;
        }
        function changeUIElement(value){
            var el = $('#currentMultiplayerPlayersCount')[0];
            console.log('el', el.textContent, el);
            var str = '';
            for (var i = 0 ; i < el.textContent.length; i++) {
                if (i == el.textContent.length-1) str += value.toString();
                else str+= el.textContent[i];
            }
            el.textContent = str;
        }
        */
