extends layout

block headData
    title Numbers game (variation of Kniffel or Yahtzee)
    link(rel='image_src', href='http://jaric.ru:33322/dice_Visual_Pharm.png')

block content
    p
    div(id="nameForm")

    //-
        div(class="menuElement menuPad")
            a(href="/play") Play
    div(id='menuPlayButton', class="menuElement menuPad")
        a(href="/ang") Play

    //-div(class="menuElement", onclick="f1()") CLEAR STORAGE
    p
        div(class="menuElement")
            | (searching: #{onlineStatistics ? onlineStatistics.playersSearching : ''})
    div(class="menuElement menuPad")
        a(href="/onlineStatistics") Online statistics
    div(class="menuElement menuPad")
        a(href="/rules") Rules
    div(class="menuElement menuPad")
        a(href="/about") About

    //-
        div(class="menuElement")
            a(href="/reconfigure") Reconfigure

    //- It looks like social buttons work only from real hosts (not localhost)
    p
    script(
        type='text/javascript',
        src='//yandex.st/share/share.js',
        charset='utf-8'
    )
    div(
        class='yashare-auto-init menuElement',
        data-yashareL10n='ru',
        data-yashareType='none',
        data-yashareTheme='counter',
        data-yashareQuickServices='vkontakte,facebook,twitter,gplus,pinterest,odnoklassniki,moimir',
        data-yashareLink='http://jaric.ru',
        data-yashareImage='http://jaric.ru:33322/dice_Visual_Pharm.png'
    )

    p
        | &nbsp;
    p
        | &nbsp;
    p
        | &nbsp;

    script(src="/javascripts/jquery-1.9.1.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/backbone.js")
    script(src='/javascripts/menu.js')
    script.
        (function($) {
            $.menu.bootstrap();
        })(jQuery);
        function f1(){
            localStorage.clear();
        }
