extends layout

block headData
    title Numbers game #numbers_game (variation of Kniffel or Yahtzee)
    link(rel='image_src', href='http://jaric.ru/dice_Visual_Pharm.png')

block content
    p

    div(id='menuPlayButton', class="menuElement menuPad")
        a(href="/ang", onclick='setSearchPlayersCount(1);') Singleplayer
    div(id='menuPlayButton', class="menuElement menuPad")
        a(href="/ang", onclick='setSearchPlayersForMultiplayer();') Multiplayer

    p
        div(class="menuElement")
            | (searching: #{onlineStatistics ? onlineStatistics.playersSearching : '0'})
    div(class="menuElement menuPad")
        a(href="/onlineStatistics") Online statistics
    div(class="menuElement menuPad")
        a(href="/configuration") Settings
    div(class="menuElement menuPad")
        a(href="/rules") Rules
    div(class="menuElement menuPad")
        a(href="/about") About

    //- It looks like social buttons work only from real hosts (not localhost)
    p
    script(
        type='text/javascript',
        src='//yandex.st/share/share.js',
        charset='utf-8'
    )
    div(
        class='yashare-auto-init menuElement',
        data-yashareL10n='ru',
        data-yashareType='none',
        data-yashareTheme='counter',
        data-yashareQuickServices='vkontakte,odnoklassniki,twitter,facebook,gplus,moimir,pinterest',
        data-yashareDescription='Welcome to #numbers_game (variation of Kniffel or Yahtzee)',
        data-yashareLink='http://jaric.ru:33322/',
        data-yashareImage='http://jaric.ru/dice_Visual_Pharm.png'
    )

    p
        | &nbsp;
