extends layout

block headData
    title Numbers game #numbers_game (variation of Kniffel or Yahtzee)
    link(rel='image_src', href='http://jaric.ru/dice_Visual_Pharm.png')

block content
    p
    div(id="nameForm")

    //-
        div(class="menuElement menuPad")
            a(href="/play") Play
    div(id='menuPlayButton', class="menuElement menuPad")
        a(href="/ang", onclick='setSearchPlayersCount(1);') Single Player
    div(id='menuPlayButton', class="menuElement menuPad")
        a(href="/ang", onclick='setSearchPlayersCount(2);') 2 players
    div(id='menuPlayButton', class="menuElement menuPad")
        a(href="/ang", onclick='setSearchPlayersCount(3);') 3 players
    div(id='menuPlayButton', class="menuElement menuPad")
        a(href="/ang", onclick='setSearchPlayersCount(4);') 4 players

    //-div(class="menuElement", onclick="f1()") CLEAR STORAGE
    p
        div(class="menuElement")
            | (searching: #{onlineStatistics ? onlineStatistics.playersSearching : '0'})
    div(class="menuElement menuPad")
        a(href="/onlineStatistics") Online statistics
    div(class="menuElement menuPad")
        a(href="/rules") Rules
    div(class="menuElement menuPad")
        a(href="/about") About

    //-
        div(class="menuElement")
            a(href="/reconfigure") Reconfigure

    //- It looks like social buttons work only from real hosts (not localhost)
    p
    script(
        type='text/javascript',
        src='//yandex.st/share/share.js',
        charset='utf-8'
    )
    div(
        class='yashare-auto-init menuElement',
        data-yashareL10n='ru',
        data-yashareType='none',
        data-yashareTheme='counter',
        data-yashareQuickServices='vkontakte,odnoklassniki,twitter,facebook,gplus,moimir,pinterest',
        data-yashareDescription='Welcome to #numbers_game (variation of Kniffel or Yahtzee)',
        data-yashareLink='http://jaric.ru:33322/',
        data-yashareImage='http://jaric.ru/dice_Visual_Pharm.png'
    )

    p
        | &nbsp;

    script(src="/javascripts/jquery-1.9.1.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/backbone.js")
    script(src='/javascripts/menu.js')
    script.
        (function($) {
            $.menu.bootstrap();
        })(jQuery);
        function f1(){
            localStorage.clear();
        }
        function setSearchPlayersCount(count){
            localStorage.setItem("searchPlayersCount", count.toString());
        }
